<?php
    include_once(ROOT."_config.php");
?>
AuthName "ce dossier est reserve aux superviseurs : identification requise"
AuthType Basic
AuthUserFile "<?php echo VIEW_ROOT."docSuperviseur/.htpasswd" ?>"
Require valid-user
